# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Manim output folders
media/

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Python virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

Outline-&-Script/

# Runtime temporary files
audio_times.txt